@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}



@layer base {
  :root {
    --background: 187, 40%, 96%;       /* Alice Blue */
    --foreground: 207 36% 10%;      /* Gunmetal */
    --card: 0 0% 100%;
    --card-foreground: 207 36% 10%;

    --primary: 205 73% 34%;         /* Lapis Lazuli */
    --primary-foreground: 44 59% 94%;

    --secondary: 173, 100%, 23%;
    --secondary-foreground: 207 36% 10%;

    --accent: 138, 76%, 28%;          /* Forest green */
    --accent-foreground: 207 36% 10%;

    --muted: 44 59% 94%;            /* Cosmic Latte as base muted */
    --muted-foreground: 205 73% 34%;

    --destructive: 351 64% 49%;     /* Optional red tone */
    --destructive-foreground: 0 0% 100%;

    --success: 160 60% 70%;         /* Aquamarine */
    --success-foreground: 207 36% 10%;

    --signup: 200 32% 13%;

    --border: 215 16% 47%;
    --input: 288 42% 85%;
    --ring: 205 73% 34%;
    --sidebarC : 197, 100%, 17%;
    --sidebarT : 210, 20%, 79%;

    --radius: 0.5rem;
    --back: 210, 20%, 92%;
    --circle : 14, 65%, 85%;
    --progress: 187, 50%, 91%
  }
  .dark {
    --background: 207 36% 10%;      /* Gunmetal */
    --foreground: 187, 40%, 96%;       /* Cosmic Latte */
    --card: 207 36% 25%;            /* Lapis Lazuli */
    --card-foreground: 187, 30%, 91%;

    --primary: 160 60% 70%;         /* Aquamarine */
    --primary-foreground: 207 36% 10%;

    --secondary: 173, 100%, 23%;       /* green */
    --secondary-foreground: 207 36% 10%;

    --accent: 143, 21%, 43%;          /* Thistle */
    --accent-foreground: 207 36% 10%;

    --muted: 205 73% 34%;
    --muted-foreground: 44 59% 94%;

    --destructive: 351 64% 49%;
    --destructive-foreground: 0 0% 100%;

    --success: 160 60% 70%;
    --success-foreground: 207 36% 10%;
    --signup: 207 32% 18%;

    --border: 215 16% 47%;          /* example purple */
    --input: 271 57% 53%;
    --ring: 44 59% 94%;

    --radius: 0.5rem;
    --back: 220, 29%, 17%;
    --circle : 187, 65%, 43%;
    --progress: 207 36% 15%;
  }
}




@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* width of entire scrollbar */
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* Tailwind gray-200 */
}

::-webkit-scrollbar-thumb {
  background-color: #515151; /* Tailwind green-500 */
  border-radius: 4px;         /* round edges */
  border: none;               /* ensure no gap */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #043242; /* Tailwind green-600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #083649 #00000004;
}

.hover-user-icon:hover .user-circle {
  fill: white;
}